<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %> <font size=1>(<%= comment.created_at %>)</font>
</p>

<p>
  <%= link_to "Destroy Comment", [comment.post, comment], data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"
  } %>
</p>